
h2{
  font-family: "Lato", sans-serif; 
  text-align: center;
}
h3{
  font-family: "Lato", sans-serif; 
  text-align: center;
}


body, html {


    height: 100%;
    color: #777;
    line-height: 1.8;
      margin:0;
  padding: 0;
  font-family: "Lato", sans-serif; 
  text-align: center;
}


.Image1 {
    background-image: url('white-label-seo-service.png');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Image2 {
    background-image: url('MZ_Blog_Post_Images.png');
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.Image3 {
    background-image: url('marketing-automation.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.text{
  padding-top:64px;
  padding-bottom:64px;
  max-width:980px;
  margin:auto
}



.SvartBoksPosisjon{
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%)
} 





.SvartBoksFarge{
text-align:center;
padding: 12px 24px;
color:#fff!important;
background-color:#000;
font-size:24px;
letter-spacing:4px
}


section.sec1{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0, 0.8);
  padding: 0 100px;
  box-sizing: border-box;
}
nav .marketing{
  float: left;
  height: 100%;
  line-height: 70px;
}

nav .marketing h2{
margin: 0;
padding: 0;
color: #fff;
}
nav ul{
  float: right;
  display: flex;
  margin: 0;
  padding: 0;

}
nav ul li{
list-style: none;
}
nav ul li a{
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li a:hover{
  color: #262626;
}
nav ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s;

}

nav ul li a:hover:before{
  transform-origin: left;
  transform: scaleX(1);
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}